.trending-section {
  background-color: #f8f9fa;
}

.trending-title {
  font-weight: 700;
  font-size: 2.2rem;
}

.trending-card {
  transition: transform 0.2s ease;
  border: none;
  box-shadow: 0 4px 8px rgba(0,0,0,0.05);
}

.trending-card:hover {
  transform: translateY(-5px);
}

.trending-img {
  height: 220px;
  object-fit: contain !important;
        
}
